.body
{
	margin : 0px;
	padding : 0px;
	/*background-color : rgb(30,30,30);*/
}

.section
{
	margin-top : 70px;
}

.top{
	background-color : rgb(30,30,30);
	position : absolute;
	margin : auto;
	top : 70px;
	width : 100%;
	height : 101.35%;
	z-index : -10;
}

.cover
{
	width : 50%;
	padding : 0;
}

article
{
	display : inline-block;
	width : 49%;
	margin-left : 0.25%;
	vertical-align : top;
	text-align : center;
}

h2
{
	display : inline-block;
	font-size : 35px;
	font-family : Righteous;
	width : 100%;
	text-align : center;
	vertical-align : top;
	margin : 15px 0px 15px 0px;
}


p, em
{
	text-align : justify;
	margin : 15px;
	margin-top : 35px;
	font-size : 20px;
	font-style: normal;
}

iframe
{
	display : block;
	border-radius: 25px;
	margin : auto;
	margin-top : 50px;
	border : none;
	width : 95%; 
	height : 80px;
}

button
{
	display: block;
	color : rgb(245,245,245);
	font-size : 20px;
	background-color : rgb(235,130,0);
	border: solid 2px rgb(235,130,0);
	border-radius: 30px;
	width : 90px;
	height : 50px;
	margin : 10px;
	margin-top : 25px;
	transition:background 0.2s;
}

button:hover
{
	background : none;
}

.section article div
{
	margin : 25px 0 25px 0;
	background-color : rgb(40, 40, 40);
	border-radius : 15px;
	width : 95%;
	height : 150px;
	margin : auto;
	margin-top : 50px;
}

.section article img
{
	width : 13%;
	padding-top : 25px;
	padding-bottom : 25px;
}

.all
{
	display : none;
	position : fixed;
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;
	background : rgba(20,20,20,0.8);
	z-index : 20;
	text-align : center;
}

.all:target
{
	display : block;
}

.all img
{
	height : 80%;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%,-50%);
}

article ul li, article ul li p, article ul li s, article ul li button
{
	display : inline;
}

.price
{
	background : rgb(235,130,0);
	border: solid 2px rgb(235,130,0);
	border-radius: 30px;
	width : 85px;
	height : 100px;
	padding : 12px;
	margin : 10px;
}

.price s em, .price p
{
	font-size : 20px;
}

article ul
{
	margin-top : 35px;
	padding-left: 0;
}

article ul li
{
	margin : 0px;
}
h4{
	margin : 50px;
	border-bottom : solid 2px white;
	display : inline;
	padding : 5px;
	margin-left : 5%;
}

.section .comment input{
	margin : auto;
	margin-top : 25px;
	display : block;
	height : 50px;
	width : 89.2%;
	margin-bottom : 10px;
	border : none;
	border-radius : 2px;
	padding-left : 10px;
}
.section .comment div{
	width : 90%;
	margin : auto;
	height : 100px;
	margin-top : 2px;
	background : rgb(12, 10, 10);
}
.section .comment div img{
	height : 80px;
	width : 80px;
	border-radius : 10px;
	margin : 10px;
}

@media screen and (max-width:750px){
	.cover, article{ width:100%; }
	.section article img{ width: 30%; }
	.all img{width: 90%; height: auto;}
	.top {height : 255%;}
}