footer{
	position: absolute;
	top: 100vh;
	height: 125px;
	right: 0;
	margin-top: 10px;
	margin : auto;
	box-shadow: 0 0 5px 0 black;
	background: rgb(10, 10, 10);
	left: 0;
	text-align: center;
	font-size: 20px;
}

footer a
{
	color : rgb(245,245,245);
	text-decoration : none;
	margin : 20px;
	transition:color 0.2s;
}

footer a:hover
{
	color : rgb(235,130,0);
}

footer div
{
	position: relative;
	top : 15%;
	border-bottom : solid 3px rgb(245,245,245);
	padding-bottom : 12.5px;
	width : 80%;
	margin : auto;
}

.media
{
	position : relative;
	top : 25%;
	font-size : 35px;
	border: none;
}

.media i
{
	margin-right : 10px;
}

.media i:last-child
{
	margin-right: none;
}