footer.footAbs{
	position: absolute;
	top: 100vh;
	min-height: 125px;
	right: 0;
	margin : auto;
	box-shadow: 0 0 5px 0 black;
	background: rgb(10, 10, 10);
	left: 0;
	text-align: center;
	font-size: 1em;
}
footer{
	position : absolute;
	width : 100%;
	min-height : 125px;
	margin : auto;
	margin-top: 50px;
	box-shadow: 0 0 5px 0 black;
	background: rgb(10, 10, 10);
	text-align: center;
	font-size: 1em;
}
footer a
{
	color : rgb(245,245,245);
	text-decoration : none;
	margin : 20px;
	transition:color 0.2s;
}

footer a:hover
{
	color : rgb(235,130,0);
}

footer div
{
	border-bottom : solid 3px rgb(245,245,245);
	padding-bottom : 12.5px;
	width : 80%;
	margin : auto;
	margin-top : 18.75px;
}


.media
{
	margin-top : 20px;
	font-size : 35px;
	border: none;
}

.media i
{
	margin-right : 10px;
}

.media i:last-child
{
	margin-right: 0;
}

@media screen and (orientation : portrait){
	footer.footAbs{position: relative; top: 75px;}
}