.body{
	background : rgb(30,30,30);
}

.section{
	margin-top : 100px;
	width : 100%;
}

.section div div, .section article
{
	display : inline-block;
	text-align: center;
}

.section h2
{
	margin-left: 20%;
	font-family : Righteous;
}

.info{
	width : 59.5%;
}

.section input, .section select, .section label{
	display : block;
}

.section form{
	width: 260px;
	margin-left : 45%;
	text-align: left;
}

.section input, .section select{
	height : 25px;
	width : 250px;
	border : none;
	border-radius : 2px;
	padding-left : 10px;
	margin : auto;
}

.section select{
	width : 260px;
}

.section label{
	padding-top : 15px;
}

button
{
	display: inline-block;
	color : rgb(245,245,245);
	font-size : 20px;
	background-color : rgb(235,130,0);
	border: solid 2px rgb(235,130,0);
	border-radius: 30px;
	width : 76px;
	height : 50px;
	margin : 10px 10px 10px 0;
	margin-top : 25px;
	transition:background 0.2s;
}

button:hover
{
	background : none;
}

.article > div
{
	width : 625px;
	height : 200px;
	background-color : rgb(12, 10, 10);
	float : right;
	margin-bottom : 2px;
}

.article > div img{
	height : 150px;
	border-radius: 50%;
	margin : 25px;
}
.article h3{
	display : inline-block;
}
.article h4{
	color : red;
}

.article > div:first-child{
	border-radius : 20px 0 0 0;
}
.article > div:last-child{
	height : 75px;
}
h5{
	font-size : 25px;
	margin : 25px;
}
.article{
	width : 29.5%;
	vertical-align : top;
	text-align : left;
	margin-left : 80px;
}
.article div div{
	width : 350px;
	vertical-align : top;
	text-align : left;
}
.left{
	position : fixed;
	background : rgb(25,10,0);
	top : 0;bottom : 0;
	width : 15%;
	float : left;
	left : 0;
	z-index : -10;
}

a
{
	color : rgb(245,245,245);
	text-decoration : none;
}

@media screen and (max-width:1350px){
	.info, .article{width: 85%; margin-left: 15%;}
	.section form{
		margin:auto;
	}
	.article > div{ float: none; margin:auto; margin-bottom: 2px;}
	h5{margin:0; padding: 25px;}
	.section h2{width: 100%; margin-left: 0;}
}
@media screen and (max-width:850px){
	.info, .article{width: 100%; margin-left: 0;}
	.left{display: none;}
}
@media screen and (max-width:625px){
	.article > div{width: 100%;}
	.article > div img{height: 100px; margin-top: 50px;}
	.article div div{width:60%;}
}
@media screen and (max-width:430px){
	.article div div{width:35%;}
	.article div div h4, .article div div h3{margin: 5px 0 5px 0;}
	.article div:last-child{height: 100px;}
	.section input, .section select{width: 200px;}
	.article div div h3{overflow: hidden; max-width: 100%;}
	.section label{margin-left: 25px;}
}