h2{
	margin-top : 150px;
	font-family : Righteous;
	font-size : 45px;
	text-align : center;
}

p:first-child{
	margin-top : 70px;
}

p{
	margin : auto;
	margin-top : 30px;
	width : 70%;
	font-size : 22.5px;
	text-align : justify;
}

.name{
	text-align : right;
}

p:last-child{
	margin-bottom : 60px;
}