h2{
	padding-top: 30px;
	font-family : Righteous;
	font-size : 45px;
	text-align : center;
}

article{
	margin-top: 70px;
	background-image: url("../Images/background.png");
}

p:first-child{
	margin-top : 70px;
}

p{
	margin : auto;
	margin-top : 30px;
	width : 70%;
	font-size : 22.5px;
	text-align : justify;
}

.name{
	text-align : right;
}

p:last-child{
	padding-bottom : 60px;
}