body{
	background : rgb(25,10,0);
	color : rgb(245,245,245);
	font-size : 20px;
	font-family: 'Arimo', sans-serif;
}
/*  Header  */
header{
	position : fixed;
	top : 0; left : 0; right : 0;
	height : 70px;
	background : rgb(10, 10, 10);
	z-index: 10;
}
header a{
	color : inherit;
	text-decoration: none;
}
header form .searchBar{
	height : 25px;
	width : 250px;
	position : absolute;
	top : 21px;
	right : 160px;
	border : none;
	border-radius : 2px;
	padding-left : 10px;
	transition : width 0.5s;
}
header form .searchBar:focus{
	width : 400px;
}
.logo{
	display : inline;
	position : absolute;
	top : 15px; left : 40px;
	height: 40px;
}
h1{
	display : inline;
	margin-left : 20px;
	position : relative;
	top : 10px;
	left: 80px;
	font-size : 40px;
	font-family: 'Righteous', cursive;
}
header > ul{
	display : inline;
	margin: 3px 0 0 125px;
}
header > ul li{
	display : inline;
	padding : 23px 50px 18px 50px;
	transition : background 0.3s;
}
header > ul li:hover{
	background : rgba(0,0,0,0.5);
	padding-bottom : 24px;
	border-bottom : solid 3px rgb(245,245,245);
}
header > ul > li:hover ul{
	display: block;
}
header > ul > li ul{
	background: black;
	position: absolute;
	top: 67px;
	left: 0px;
	right: 0;
	padding :0;
	display: none;
	text-align: center;
	z-index : -5;
	opacity : 0.99;
}
header ul li ul li{
	display: inline-block;
	width: 33%;
	padding: 10px 0 10px 0;
	color : rgb(245,245,245);
}
header ul li ul li:hover{
	color: rgb(255,180,0);
	background: rgba(25,25,25,0.5);
	padding-bottom : 10px;
	border-bottom : none;
}
header ul li ul a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
i{
	transform : scale(1.2);
}
.market{
	position : absolute;
	top : 20px;
	right : 50px;
}
.search{
	position : absolute;
	top : 20px;
	right : 100px;
	transform : scale(1.2);
	background: none;
	border: none;
	color: inherit;
}

/*  SlideShow  */
.slider{
	position : absolute;
	top : 70px; left : 0; right : 0; bottom : 0;
	background : none;
	overflow : hidden;
}

.slide{
	width : 400%;
	background : none;
	height : 100%;
	position : absolute;
	top : 0;
	left :0;
	animation: slidanim 20s infinite;
}
.slider figure{
	margin : 0;
	display: inline-block;
	padding: 0;
	height: 100%;
	position: relative;
	width: 100vw;
	left: 0;
}
.slider img{
	width : 100vw;
	height : 100%;
	margin: 0;
	padding: 0;
	opacity : 1;
	transition : opacity 0.3s; 
}
.slider figure div{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(25,25,25,0);
	transition: background 0.3s;
}
.slider figure:hover div{
	background: rgba(25,25,25,0.4);
	cursor: pointer;
}

@-webkit-keyframes slidanim {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}
@-moz-keyframes slidanim {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}
@keyframes slidanim {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}

/*  Footer  */
/*footer{
	position: absolute;
	top: 100vh;
	height: 100px;
	right: 0;
	margin-top: 10px;
	box-shadow: 0 0 5px 0 black;
	background: #252525;
	left: 0;
}*/