/*  SlideShow  */
.slider{
	position : absolute;
	top : 70px; left : 0; right : 0; bottom : 0;
	background : none;
	overflow : hidden;
}

.slide{
	width : 400%;
	background : none;
	height : 100%;
	position : absolute;
	top : 0;
	left :0;
	animation: slidanim 20s infinite;
}
.slider figure{
	margin : 0;
	display: inline-block;
	padding: 0;
	height: 100%;
	position: relative;
	width: 100vw;
	left: 0;
}
.slider img{
	width : 100vw;
	height : 100%;
	margin: 0;
	padding: 0;
	opacity : 1;
	transition : opacity 0.3s; 
}
.slider figure div{
	position: absolute;
	top: 0; left: 0;
	right: 0;
	bottom: 0;
	background: rgba(25,25,25,0);
	transition: background 0.3s;
}
.slider figure:hover div{
	background: rgba(25,25,25,0.4);
	cursor: pointer;
}

@-webkit-keyframes slidanim {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}
@-moz-keyframes slidanim {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}
@keyframes slidanim {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}

/*  Footer  */
/*footer{
	position: absolute;
	top: 100vh;
	height: 100px;
	right: 0;
	margin-top: 10px;
	box-shadow: 0 0 5px 0 black;
	background: #252525;
	left: 0;
}*/